<div class="container auth-container">
<form action="/login" method="post" id="login-form">
  <h3 class="display-4">Log In</h2>
    <hr class="my-4"></hr>
  <div class="form-group">
    <label for="email-input">Email Address</label>
    <input class="form-control" name="email" type="email" id="email-input" placeholder="name@example.com" autofocus>
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
