<div class="container-fluid" style="height: inherit;">
  <div class="list-group overflow-auto" id="recipe-list">
  {{#each user.recipes}}
    <a href="/recipes?id={{id}}" class="recipe-card-link">
      <div class="list-group-item list-group-item-action">
        <h4>{{title}}</h4>
        <p>{{creatorName}}</p>
      </div>
    </a>
  {{/each}}
  </div>
</div>
