<form action="/register" method="POST" id="register-form">
  <h2>Register as new user</h2>
  <div class="form-group">
    <label for="email-input">Email Address</label>
    <input type="email" name="newUser[email]" id="email-input" class="form-control" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input type="password" name="newUser[password]" id="password-input" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="username-input">Username</label>
    <input type="text" name="newUser[username]" id="username-input" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="fullName-input">Full Name</label>
    <input type="text" name="newUser[fullName]" id="fullName-input" class="form-control" placeholder="Full Name">
  </div>
</form>
