<div class="userPage container-fluid">
  <div class="row">
    <div class="col-9">
      {{!-- The carousel of images/recipes goes here --}}

      <a href="/newRecipe" class="btn btn-primary">New Recipe</a>

    </div>
    <div class="col-3">
      {{> RecipeList}}
    </div>
  </div>

</div>
