<div class="userPage container-fluid">
  <div class="row">
    <div class="col-9">
      {{!-- The carousel of images/recipes goes here --}}
      <div class="text-center">
        <a href="/newRecipe" class="btn btn-lg btn-red">New Recipe</a>
      </div>
      {{!-- <div> --}}
        <img src="/img/table.png" alt="dining room table" srcset="" style="width: 90%; display: block; margin: 2% auto;">
      {{!-- </div> --}}
    </div>
    <div class="col-3 text-center">
      {{> RecipeList}}
    </div>
  </div>

</div>
