<div class="jumbotron theme-tea-green text-center">
  <h1 class="display-1">My Family Table</h1>
  <p class="lead">Hey there! Welcome to <strong>My Family Table</strong>, <em>your</em> site for storing treasured recipes and memories.</p>
  <hr class="my-4"></hr>
  <div class="justify-content-between">
    <a class="btn btn-red btn-lg" href="/login" role="button">Log In</a>
     &nbsp;
      &nbsp;
    <a class="btn btn-red btn-lg" href="/register" role="button">Register</a>
  </div>
</div>
