<div class="jumbotron theme-tea-green">
  <h1 class="display-4">My Family Table</h1>
  <p class="lead">Hey there! Welcome to <strong>My Family Table</strong>, <em>your</em> site for storing treasured recipes and memories.</p>
  <hr class="my-4"></hr>
  <p class="lead">
    <a class="btn btn-red btn-lg" href="/login" role="button">Log In</a>
  </p>
  <p class="lead">New to My Family Table?</p>
  <p class="lead">
    <a class="btn btn-red btn-lg" href="/register" role="button">Register</a>
  </p>
</div>
