<main class="theme-beige">
{{!-- Render user page for active user --}}
{{#if user}}
{{> UserPage}}
{{else}}

{{#if welcome}}
{{> welcomePage}}
{{/if}}

{{!-- Render login form if user logging in --}}
{{#if login}}
<div class="container theme-tea-green">
{{> login}}
</div>

{{/if}}

{{!-- Render registration form if new user registering --}}
{{#if register}}
{{> register}}
{{/if}}

{{/if}}
</main>
