{{> UserBar}}
<main>
<div class="container white-background recipe-container">
<form action="/newRecipe" method="POST" id="new-recipe-form">
  <h2 class="display-3">New Recipe</h2>
  <div class="form-group">
    <label for="title-input">Title</label>
    <input type="text" name="recipe[title]" id="title-input" class="form-control" placeholder="Title" required>
  </div>
  <div class="form-group">
    <label for="creator-input">Creator</label>
    <input type="text" name="recipe[creatorName]" id="creator-input" class="form-control" placeholder="Creator" required>
  </div>
  <div class="form-group">
    <label for="story-input">the Story</label>
    <textarea class="form-control" name="recipe[story]" id="story-input" rows="3" aria-describedby="story-optional"></textarea>
    <small id="story-optional" class="form-text text-muted">Optional</small>
  </div>

  <hr class="my-4"></hr>


  <div class="form-group text-center">
    <h4>Ingredients</h4>
    <ul id="ingredient-inputs-group">

    </ul>
    <button type="button" onclick="javascript:addIngredient()" class="btn btn-sm btn-red">Add Ingredient</button>
      {{!-- <h2>{{this}}</h2>
      <div class="form-row">
        <div class="col">
          <input type="text" name="recipe[ingredients][][ingredient]" class="form-control" placeholder="Ingredient">
        </div>
        <div class="col">
          <input type="text" name="recipe[ingredients][][quantity]" class="form-control" placeholder="Quantity">
        </div>
      </div> --}}
  </div>

  <hr class="my-4"></hr>

  {{!-- Directions --}}
  <div class="form-group text-center">
    <h4>Directions</h4>
    <ol id="direction-inputs-group">

    </ol>
    <button type="button" onclick="javascript:addStep()" class="btn btn-sm btn-red">Add Step</button>
{{!--     {{#each directionInputs}}
      <input type="text" name="recipe[directions][][action]" class="form-control" placeholder="Step">
    {{/each}} --}}
  </div>

  <hr class="my-4"></hr>

  <div class="form-group">
    <label for="notes-input">Notes</label>
    <textarea name="recipe[notes]" id="notes-input" rows="3" class="form-control" placeholder="notes"></textarea>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-lg btn-red">Submit</button>
  </div>
</form>

</div>
</main>

<script src="js/dynamicForm.js"></script>
